@model AmadeusApiIntegration.Models.fligSearofferDatum

@{
    ViewBag.Title = "Bookingdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Complete your booking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul style="float:right" class="nav navbar-nav">
                <li>@Html.ActionLink("Flights Summary", "Index", "Home")</li>
                <li>@Html.ActionLink("Traveller Details", "About", "Home")</li>
                <li>@Html.ActionLink("Add-ons", "About", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">

    </div>
</div>

