@model AmadeusApiIntegration.Models.fligSearofferRoot

@{
    ViewBag.Title = "Appliedfilter";
    //Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Appliedfilter</h2>

<h6>This is new </h6>
<p>This is paragraph</p>